<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>local.torli.stats.helper</string>
    <key>BundleProgram</key>
    <string>Contents/Library/LaunchServices/TorliStatsHelper</string>
    <key>MachServices</key>
    <dict>
        <key>local.torli.stats.sensor</key>
        <true/>
    </dict>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
</dict>
</plist>
